@import "mixins";

.bb-check-wrapper input {
    opacity: 0;
    position: absolute;
    height: 22px;
    width: 22px;
    margin: 0;
    padding: 0;
}

.bb-check-wrapper {
  span.bb-check-label-text {
    vertical-align: middle;
  }
}

.bb-check-checkbox,
.bb-check-radio {
    border: 1px solid $gray-lighter;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 22px;
    text-align: center;
    font-size: 14px;
    background-color: $bb-color-white;
}

.bb-check-radio {
    border-radius: 50%;
}

.bb-check-checkbox:hover,
.bb-check-radio:hover {
    border: 2px solid $bb-color-blue;
}

.bb-check-wrapper input:checked + .bb-check-checkbox,
.bb-check-wrapper input:checked  + .bb-check-radio {
    background-color: $bb-color-blue;
    border: none;

    &:before {
      color: $bb-color-white;
      content: $bbsky-char-check-nostroke;
      font-family: BBSKY;
      font-size: $bb-font-size-sm;
    }
}


.bb-check-wrapper input:disabled + .bb-check-checkbox,
.bb-check-wrapper input:disabled + .bb-check-radio {
    background-color: $gray-lighter;
    border: 1px solid $gray-lighter;
    cursor: default;
}

.bb-check-wrapper input:focus + .bb-check-checkbox,
.bb-check-wrapper input:focus + .bb-check-radio {
    //default
    outline: thin dotted;

    //webkit
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
