.form-inline {
  .form-group.bb-date-range-picker-form-group {
    padding-right: $padding;
    vertical-align: top;
    margin-bottom: $margin-half;
    label {
      display: block;
    }
  }

  @media (min-width: $screen-sm-min) {
      .form-group.bb-date-range-picker-form-group {
          margin-bottom: 0;
      }
  }
}
