.bb-date-range-picker-select {
  padding-bottom: 22px;
}

.bb-date-range-picker-errors {
  min-height: 22px;
  label {
    display: block;
  }
}

.bb-date-range-picker-form-group {
  padding-right: $padding;
}
