.bb-error-description-container span {
  white-space: pre-wrap;
}

.bb-error-title-container {
  font-weight: bold;
}

.bb-error-image-container {
  height: 189px;
  width: 182px;
  display: inline-block;
}

.bb-error-image {
  margin-bottom: $margin-half;
}

.bb-error-action {
  margin-top: $margin;
}

.bb-error {
  padding-bottom: $padding;
}
