@import "mixins";

.bb-filters-inline {
    background-color: $bb-inline-filter-color;
    padding: $padding;
}

.toolbar.bb-table-toolbar .bb-filter-btn.bb-filters-inline-active {
    color: $bb-color-green;
    border: 2px solid $bb-color-green;
    border-radius: 3px
}

.toolbar.bb-table-toolbar .bb-filter-btn.bb-filters-inline-active:hover {
    color: $text-color;
}


.bb-filter-summary {
    background-color: #fff;
    min-height: 39px;
    overflow-x: auto;
    
}
