@import 'mixins';

.bb-key-info-item {
    font-family: $bb-font-family-narrow;
    font-size: $bb-alternate-font-size-lg;
    font-weight: 100;
    margin-bottom: $margin-plus-half;
}

.bb-key-info {
    display: inline-block;
    margin-right: $margin-triple;
}

.bb-key-info-value {
    font: 400 20px $bb-font-family-narrow;
    color: $text-color;
}

.bb-key-info-label {
    font: 400 13px $font-family-sans-serif;
    color: $bb-text-deemphasized-color;
}

.bb-key-info-horizontal {
    .bb-key-info-value, 
    .bb-key-info-label {
        display: inline-block;  
    }
    
    .bb-key-info-label {
        margin-left: $margin-half;    
    }
}