/* Toolbar */
.bb-listbuilder-toolbar {
    min-height: 39px;
    background-color: $bb-color-white;
    padding: $padding-half $padding $padding-half $padding;
    @include bb-border(dark, top, bottom);
}

.bb-listbuilder-toolbar-container {
    .bb-filter-summary {
        border-top: none;
        padding-left: $padding;
        padding-right: $padding;
        padding-top: $padding-half;
        padding-bottom: $padding-half;
    }
}

.bb-listbuilder-toolbar-item {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: $padding-half;
}

.bb-listbuilder-no-search span.highlight {
  background-color: transparent;
}

/* Content */
.bb-listbuilder-content {
    margin-top: $margin;
    .bb-card {
        margin-right: 0;
        width: 100%
    }
}

/* Footer */
.bb-listbuilder-backtotop-left {
    float: left;
}

.bb-listbuilder-backtotop-right {
    float: right;
}

.bb-listbuilder-backtotop-left, .bb-listbuilder-backtotop-right, .bb-listbuilder-loadmore {
    cursor: pointer;
}

.bb-listbuilder-actionbar {
    box-shadow: 0 -5px 5px 0 #ccc;
    width: 100%;
    background-color: $bb-color-white;
    padding: $padding;
    text-align: center;
    margin-top: $margin-half;  
    
    position: fixed;
    bottom: 0;

    .btn-link {
        vertical-align: baseline; 
    }
}

.bb-listbuilder-add-label {
    display: none;
}

@media (min-width: 992px) {
    .bb-listbuilder-add-label {
        display: inline-block;
    }
}





