@import 'mixins';

.bb-profile-photo {
    .bb-file-drop-accept {
        .bb-profile-photo-wrapper {
            border: dashed $bb-profile-photo-border-width $bb-color-green;
        }
    }

    .bb-file-drop-reject {
        .bb-profile-photo-wrapper {
            border: dashed $bb-profile-photo-border-width $bb-color-red;
        }
    }
}

.bb-profile-photo-wrapper {
    height: $bb-profile-photo-height + ($bb-profile-photo-border-width * 2);
    width: $bb-profile-photo-width + ($bb-profile-photo-border-width * 2);;
    border: solid $bb-profile-photo-border-width transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: -$bb-profile-photo-border-width;
    left: -$bb-profile-photo-border-width;
}

.bb-file-drop {
    .bb-profile-photo-wrapper {
        cursor: pointer;
    }
}

.bb-profile-photo-image,
.bb-profile-photo-initials {
    height: $bb-profile-photo-height;
    width: $bb-profile-photo-width;
    background-position: 50%;
    background-size: cover;

    /* this removes the "ghost margin" from the bottom of the canvas element that would otherwise be imposed by line height rules for inline elements */
    display: block;
}
