@import 'mixins';

.bb-profile-photo {
    height: 100px;
    width: 100px;
    background-position: 50%;
    background-size: cover;

    &.bb-profile-photo-small {
        height: 100px;
        width: 100px;
    }
}
