
.bb-reorder-list-col-icon {
  font-size: 1.5em;
  font-color: $gray;
}

.bb-reorder-list-col-content {
  margin-left: $margin;
  margin-right: $margin;
  flex-grow: 1;
  min-width: 0; // needed so flex will force shrink when ellipsis is present
}

.bb-reorder-list-col-top {
  color: $bb-color-blue;
  cursor:pointer;
  padding: $padding; //increase click radius of icon
  white-space: nowrap;
}

.bb-reorder-list-row {
    background-color: transparent;
    border: none;
    border-bottom: dotted 1px $gray-lighter;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding;
    outline-offset: -5px;
    width: 100%;
    height: 50px;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;

    &:last-child {
        border: none;
    }
}

.bb-reorder-list-row-placeholder {
  background-color: $gray-lighter;
}

.bb-reorder-list-sorting-item {
  box-shadow: 5px 5px 5px #888888
}

.bb-reorder-list-title {
    font-weight: 700;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bb-reorder-list-description {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
