
.bb-reorder-container {
  position:relative
}

.bb-reorder-list-col-icon {
  font-size: 1.5em;
  font-color: $gray;
}

.bb-reorder-list-col-content {
  margin-left: $margin;
  margin-right: $margin;
  flex-grow: 1;
}

.bb-reorder-list-col-top {
  color: $bb-color-blue;
  cursor:pointer;
  padding: $padding; //increase click radius of icon
  white-space: nowrap;
}

.bb-reorder-list-row {
    background-color: white;
    border: none;
    border-bottom: dotted 1px $gray-lighter;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding;
    outline-offset: -5px;
    width: 100%;
    min-height: 50px;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;

    &:last-child {
        border: none;
    }
}

.bb-reorder-list-row-placeholder {
  background-color: $body-bg;
}

.bb-reorder-list-sorting-item {
  box-shadow: 5px 5px 5px #888888;
  border: 1px solid $gray-light;
}

.bb-reorder-animate-element {
  background-color: white;
  position: absolute;
}

.bb-reorder-list-title {
    font-weight: 700;
    word-wrap: break-word;
}

.bb-reorder-list-description {
    word-wrap: break-word;
}
