// Legacy support for those using CSS classes instead of the directive.  All of this should be
// removed once we require consumers to use the directive.
.bb-repeater {
    padding: $padding-plus-half;
}

.bb-tile-content-section > .bb-repeater {
    padding: 0;
}

.bb-repeater-item {
    padding: $padding;
    border-bottom: dotted 1px #ccc;

    &:first-child {
        padding-top: 0;
    }
}

.bb-repeater-item-title {
    margin: 0 0 10px;
}
// End legacy support

// When the above code is removed, also remove the bb-repeater-component class.
.bb-repeater-component {
    &.bb-repeater {
        padding: 0;
    }

    .bb-repeater-item {
        display: flex;
        padding: $padding;
        border-bottom: dotted 1px #ccc;
    }

    .bb-repeater-item-right {
        flex-grow: 1;
    }

    .bb-repeater-item-header {
        align-items: center;
        display: flex;
    }

    .bb-repeater-item-context-menu {
        padding: $padding-half $padding 0 0;
    }

    .bb-repeater-item-title {
        font-family: $font-family-base;
        font-size: $bb-font-size-lg;
        font-weight: bold;
        margin: $margin 0;
        flex-grow: 1;
    }

    .bb-repeater-item-collapsible {
        .bb-repeater-item-header {
            cursor: pointer;

            .bb-chevron {
                display: block;
                margin-left: $margin;
            }
        }

        .bb-repeater-item-content {
            padding-right: $bb-context-menu-size + $padding;
        }
    }

    .bb-repeater-item-collapsed {
        .bb-repeater-item-content {
            display: none;
        }
    }
}
