@media (min-width: $screen-sm-min) {
    .bb-search-input-container {
        max-width: 300px;
    }
}

.bb-search-input {
    @include bb-border(light, top, bottom, left);
    border-right: none;
    transition: none;
    box-shadow: none;
    border-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

}

.input-group.bb-search-input-container .input-group-btn {
    .btn.bb-search-btn-input-group {
        background-color: $bb-color-white;
        border: none;
        height: auto;
    }
    .btn.bb-search-btn-apply {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: none;
        @include bb-border(light, top, bottom, right);
    }
    .btn.bb-search-btn-clear {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        border-left: none;
        @include bb-border(light, top, bottom);
    }
}


.bb-search-input:focus + .input-group-btn button:hover.bb-search-btn-input-group  {
    z-index: auto;
}

.bb-search-btn-dismiss, .bb-search-btn-dismiss:hover {
    border: 1px transparent solid;
    background-color: transparent;
    transition: opacity $bb-transition-time-short ease-in;
}

.bb-search-btn-dismiss.ng-hide {
    opacity: 0;
}

.bb-search-and-dismiss {
    display: flex;
}

.bb-search-item {
    flex-grow: 1;
}

.bb-search-input-container {
    width: 100%;
}

.bb-search-btn-clear {
    padding-right: 6px;
    padding-left: 18px;
}

.bb-search-btn-apply {
    padding-left: 6px;
}

.bb-search-and-dismiss-absolute {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

