@media (min-width: $screen-sm-min) {
    .bb-search-input-container {
        max-width: 300px;
    }
}

.bb-search-input {
    /*@include bb-border(light, top, bottom, left);
    border-right: none;
    transition: none;
    box-shadow: none;
    border-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;*/
    padding-right: 86px;
    box-shadow: none;
    border-radius: 4px;

}

.bb-search-input-icon {
    position: absolute;
    right: 0;
    z-index: 2;
    display: block;
    border: none;
    background-color: transparent;
    top: 0;
}

.bb-search-input-container {
    position: relative;
    
}

/*
.input-group.bb-search-input-container .input-group-btn {
    .btn.bb-search-btn-input-group {
        background-color: $bb-color-white;
        border: none;
        height: auto;
        
       
    }
    .btn.bb-search-btn-apply {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: none;
        @include bb-border(light, top, bottom, right);
    }
    .btn.bb-search-btn-clear {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        border-left: none;
        @include bb-border(light, top, bottom);
    }
}


.bb-search-input:focus + .input-group-btn button:hover.bb-search-btn-input-group  {
    z-index: auto;
}
*/
/*.bb-search-item {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}*/

.bb-search-btn-dismiss, .bb-search-btn-dismiss:hover {
    border: 1px transparent solid;
    background-color: transparent;
}

.bb-search-and-dismiss {
    display: flex;
}

.bb-search-item {
    flex-grow: 1;
}

.bb-search-input-container {
    transition: width $bb-transition-time-long ease-in;
    width: 100%;
}

.bb-search-input-container.bb-search-small {
    width: 42px;
    .bb-search-input {
        padding: 0;
    }
}

.bb-search-btn-clear {
    padding-right: 6px;
    padding-left: 18px;
}

.bb-search-btn-apply {
    padding-left: 6px;
}

