@media (min-width: $screen-sm-min) {
    .bb-search-container {
        max-width: 250px;
    }
}

.bb-search-input {
    @include bb-border(light, top, bottom, left);
    border-right: none;
    transition: none;
    box-shadow: none;
    border-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.bb-search-container.input-group .input-group-btn {
    .btn.bb-search-btn-input-group {
        background-color: $bb-color-white;
        border: none;
        height: auto;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: none;
        @include bb-border(light, top, bottom, right);
    }
}


.bb-search-input:focus + .bb-search-btn-input-group button:hover {
    z-index: auto;
}

.bb-search-item {
    display: inline-block;
    margin-bottom: none;
    vertical-align: middle;
}

.bb-search-btn-dismiss, .bb-search-btn-dismiss:hover {
    border: 1px transparent solid;
    background-color: transparent;
}

.bb-search-and-dismiss {
    display: flex;
    
}

.bb-search-slide {
    transition: transform $bb-transition-time-medium, opacity $bb-transition-time-short;
}

.bb-search-slide-add {
    -webkit-transform: translate3d(500px, 0, 0);
    transform: translate3d(500px, 0, 0); 
    
    opacity: 0;
}