@import "mixins";

.ui-select-container {
    &.ui-select-multiple {
        //Fix the minimum height of multiple search container to match other fields
        &.open {
            box-shadow: 0 0 8px rgba(28, 132, 198, 0.6);
            border: 1px solid #1f90d8;
        }
        
        &.open.ng-invalid {
            box-shadow: 0 0 8px rgba(237, 85, 101, 0.6);
            border: 1px solid #ed5565;
        }
        
        &.ui-select-bootstrap {
            min-height: $input-height-base;
        }
        

        .ui-select-match-item {
            text-align: left;

            //Change the color of the multiple search pill boxes
            &.btn-default {
                background-color: #f1f1f1;
                border-color: #ededed;
                color: #333;

                //Change the color of the selected pill box
                &.btn-primary {
                    background-color: #d0d0d0;
                    border-color: #d0d0d0;
                }
            }

            &.btn:active {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            //Tweak the position of the close button in the pill boxes
            .ui-select-match-close.close {
                line-height: 0.9;
            }
        }

        input.ui-select-search {
            //Because of how the multi-search works, the input control does not have a "form-control" class on it,
            //so we have to force the font size and placeholder color here.
            font-size: $font-size-base;
            @include placeholder();
            padding-left: 2px;  //Adjust padding so that input text lines up with normal input boxes when lined up on a form
        }
        
        input.ui-select-search:focus, input.ng-invalid.ui-select-search:focus {
            box-shadow: none;
            border: none;
        }
    }

    .ui-select-match {
        //Remove the button appearance of the single search box only
        > span {
            &.btn-default {
                &:hover, &:focus, &:active {
                    background-color: $input-bg;
                    border-color: #e5e6e7;
                    color: $input-color;
                }
            }
            &.btn:active {
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }

        //Remove the focus highlighting to match normal inputs
        &.btn-default-focus {
            background-color: $input-bg;
            border-color: #e5e6e7;
            color: $input-color;
            box-shadow: none;
            outline: none;
        }

        //Modify the placement and look of the placeholder text to match the input box so it doesn't jump when we click on the search
        .ui-select-toggle {
            @include text-overflow();
            padding-left: 5px;
            padding-right: 35px;
            text-align: left;
            cursor: text;

            .ui-select-placeholder {
                color: $input-color-placeholder;
                font-style: italic;
            }

            //Prevent long text values from messing up the clear button and search icon
            .ui-select-match-text {
                @include text-overflow();
                width: 100%;
            }

            //Because of the padding-right on ui-select-toggle to correct text overflow issues
            //from overlapping the clear button and search icon, we need this to make the clear 
            //button line up correctly next to the text area.
            a.btn.btn-xs.btn-link.pull-right {
                float: none !important;
                color: inherit;
                padding-left: 0;
                padding-right: 0;
                border: none;
            }

            //Replace the caret class with the correct search icon class
            > .caret {
                @extend .glyphicon;
                @extend .glyphicon-search;
                border: none;
                position: absolute;
                height: auto;
                top: 50%;
                right: 18px;
                margin-top: -6px;
                width: 0;
            }
        }
    }

    //Square off the corners of the results dropdown
    .ui-select-choices.dropdown-menu {
        border-radius: 0;
    }
}

.bb-searchfield-no-records {
    font-style: italic;
    padding: 3px 20px;
    color: $gray-light;
}

body > .ui-select-bootstrap.open {
    z-index: 2000;
}

.ui-select-search.ng-hide:not(.ng-hide-animate) {
      display: none !important;
      overflow: hidden;
      height: 0;
      opacity: 0;
}