@import "mixins";


.bb-splitpanel {

    .bb-custom-content-item {
        border-bottom: 1px solid grey;
        padding: $padding-double;
    }

    .split-pattern-container {
        -ms-box-orient: horizontal;
        height: 100%;
        width: 100%;
        display:inline-block;
    }

    .bb-custom-content {
        background-color: $form-background;
        border-right: 1px solid #f3f3f4;
        position: relative;
        float: left;
        height: 100%;
        width: 30%;
        min-width: 15%;
        max-width: 75%;
    }

    .bb-custom-content-selectable-item {
        cursor: pointer;
    }

    .split-panel-workspace {
        border-left: 9px solid #f3f3f4;
        border-right: 9px solid #f3f3f4;
        background-color: $form-background;
        position: relative;
        float: left;
        height: 100%;
        width: 70%;
    }

    .split-panel-workspace-container {
        height: calc(100vh - 180px);
        overflow-y: auto;
        padding: $base-padding 0px $base-padding $padding-double;
    }

    .selectedItem {
        border-left: $bb-color-blue 7px solid;
        padding-left: 13px;
        background-color: #f3f3f4;
    }

    .split-panel .work-space-footer {
        position: fixed;
        left: 0;
        width: 100%;
        z-index: $z-index-control;
        bottom: 0;
    }

    .fixedHeader {
        border-bottom: 1px solid $form-border-color;
        padding-bottom: 6px;
        padding-left: 17px;
    }

    .split-panel-list-container {
        height: calc(100vh - 191px);
        overflow-y: auto;
    }

    .bb-split-panel-width-100 {
        width: 100%;
    }

    .align-center {
        vertical-align: middle;
        text-align: center;
        line-height: 73vh;
    }

    .bb-splitpanel-show-xs {
        display: none;
    }

    .bb-SplitPanel-icon-sucess {
        color: $bb-color-green;
    }

    .ui-resizable-e {
        cursor: e-resize;
        width: 7px;
        right: -5px;
        top: 0;
        height: 100%;
    }

    .ui-resizable-handle {
        position: absolute;
        font-size: 0.1px;
        display: block;
    }

    @media (max-width: $screen-xs-max) {
        .selectedItem {
            border-left: 0px;
            padding-left: $padding-double;
            background-color: $form-background;
        }

        .bb-splitpanel-hidden {
            display: none;
        }

        .bb-splitpanel-show-xs {
            display: block;
        }

        .bb-custom-content {
            width: 100% !important;
            max-width: 100% !important;
            background-color: $form-background;
            border-right: 1px solid #f3f3f4;
        }

        .bb-splitPanel-pageHeader {
            background-color: $form-background;
            padding: 3px;
        }


        .split-panel-workspace {
            background-color: $form-background;
            border: none;
            width: 100% !important;
        }

        .selected-item-xs {
            border-left: $bb-color-blue 7px solid;
            padding-left: 13px;
            background-color: #f3f3f4;
        }

        .navigation-panel {
            float: left;
            font: larger bold;
        }

        .bb-custom-content-item-xs {
            padding: 7px 13px;
        }
    }
}
