.bb-text-expand-ellipsis {
    letter-spacing: 2px;
    white-space: nowrap;
    margin-right: 3px;
}

.bb-text-expand-space {
    white-space: normal;
}

.bb-text-expand-see-more {
    white-space: nowrap;
}