<section ng-class="isCollapsed ? 'collapsed' : 'collapsible'" class="bb-tile">
    <div bb-scroll-into-view="scrollIntoView">
        <div class="bb-tile-title" ng-click="titleClick()">
            <div class="bb-tile-header-with-content">
                <h2 class="bb-tile-header">{{tileHeader}}</h2>
            </div>
            <div class="bb-tile-header-column-tools">
                <div class="bb-tile-tools">
                    <button ng-class="'fa-chevron-' + (isCollapsed ? 'down' : 'up')" class="fa bb-tile-chevron"></button>
                    <button ng-if="hasSettings" class="bb-tile-settings bb-icon bb-icon-config" ng-click="$event.stopPropagation();bbTileSettingsClick();"></button>
                    <i class="bb-tile-grab-handle glyphicon glyphicon-th" ng-click="$event.stopPropagation()"></i>
                </div>
            </div>
        </div>
        <div uib-collapse="isCollapsed" class="bb-tile-content" ng-transclude>
        </div>
    </div>
</section>
