<div class="bb-search-input-inline">
    <div 
        class="bb-search-open-wrapper"
        ng-show="$ctrl.currentBreakpoint.xs"
        ng-class="{'bb-search-open-applied': $ctrl.showClear, 'bb-search-open-hidden': !$ctrl.openButtonShown}">

        <button 
            type="button" 
            class="btn bb-btn-secondary bb-search-btn-open" 
            title="{{::'search_open' | bbResources}}" 
            ng-click="$ctrl.openSearchInput(true)">
            <i class="fa fa-search fa-lg"></i>
        </button>
    </div>
    <div class="bb-search-and-dismiss">

        <div class="bb-search-item-input">
            <div class="bb-search-input-container input-group">
                <input
                    type="text" 
                    class="form-control bb-search-input"
                    ng-model="$ctrl.bbSearchText"
                    ng-keyup="$event.keyCode == 13 && $ctrl.applySearchText($ctrl.bbSearchText)" 
                    ng-focus="$ctrl.inputFocused(true)"
                    ng-blur="$ctrl.inputFocused(false)"
                    data-bbauto-field="SearchBox"
                    ng-attr-aria-label="{{::'search_label' | bbResources}}" 
                    ng-attr-placeholder="{{$ctrl.placeholderText}}"
                    />    

                <span class="input-group-btn">
                    
                    <button  
                        tabindex="-1"
                        aria-hidden="true"
                        ng-show="$ctrl.showClear && !$ctrl.openButtonShown" 
                        type="button"
                        class="btn bb-search-btn-input-group bb-search-btn-clear"
                        ng-click="$ctrl.clearSearchText()">
                        <i class="fa fa-times"></i>
                    </button>

                    <button
                        data-bbauto-field="SearchButton"          
                        type="button"
                        class="btn bb-search-btn-input-group bb-search-btn-apply"
                        ng-click="$ctrl.applySearchText($ctrl.bbSearchText)"
                        aria-label="{{::'search_label' | bbResources}}" >
                        <i class="fa fa-search fa-lg"></i>
                    </button>
                    
                </span>
                
            </div>
        </div>
        
        <div class="bb-search-item-dismiss" ng-show="$ctrl.currentBreakpoint.xs &amp;&amp; !$ctrl.openButtonShown">
            <button 
                type="button" 
                title="{{::'search_dismiss' | bbResources}}" 
                class="btn bb-btn-secondary bb-search-btn-dismiss" 
                ng-click="$ctrl.dismissSearchInput()">
                <i class="fa fa-chevron-circle-left fa-lg">
                </i>
            </button>
        </div>
    </div>

    
</div>
