<div class="toolbar bb-table-toolbar bb-applied-filter-bar">
    <div class="bb-applied-filter-header">
        <span>{{resources.grid_filters_summary_header}}</span>
    </div>
    <div class="bb-applied-filter-content-container">
      <div 
        ng-class="{gridFilterSummary.bbGridFilterDismissable: 'bb-applied-filter-content-dismissable'}"
        tabindex="0" 
        role="button" 
        class="bb-applied-filter-content" 
        ng-click="openFilterMenu()">
          <span class="bb-applied-filter-text" data-bbauto-field="FilterSummaryText" ng-transclude></span>
          <span 
            ng-show="gridFilterSummary.bbGridFilterSummaryDismissable" 
            tabindex="0" 
            role="button" 
            class="fa fa-times close" 
            data-bbauto-field="FilterSummaryRemove" 
            ng-click="clearFilters(); $event.stopPropagation();">
        </span>
      </div>
    </div>

</div>
