
<div class="bb-grid-toolbar-container">
    <div class="clearfix toolbar bb-table-toolbar">
        <button 
            type="button" 
            ng-attr-title="{{options.onAddClickLabel}}"
            data-bbauto-field="AddButton" 
            class="bb-grid-toolbar-btn btn-primary btn" 
            ng-show="toolbarLocals.hasAdd" 
            ng-click="options.onAddClick()">
            <i class="fa fa-lg fa-plus-circle"></i>
        </button>
        <div class="bb-grid-toolbar-button-container">
            <ng-transclude></ng-transclude>
        </div>
        <div class="bb-search-container">
            <input type="text" placeholder="{{resources.grid_search_placeholder}}" ng-model="searchText" ng-keyup="$event.keyCode == 13 && toolbarLocals.applySearchText()" data-bbauto-field="SearchBox" />
            <div class="bb-search-icon fa fa-lg fa-search" data-bbauto-field="SearchButton" ng-click="toolbarLocals.applySearchText()"></div>
        </div>
        <button 
            type="button" 
            class="btn bb-btn-secondary bb-grid-toolbar-btn bb-column-picker-btn"
            ng-attr-title="{{::'grid_columns_button' | bbResources}}"       
            data-bbauto-field="ColumnPickerButton" 
            ng-show="!options.hideColPicker" 
            ng-click="toolbarLocals.openColumnPicker()">
            <span class="fa fa-lg fa-columns"></span>
        </button>
        <button 
            type="button" 
            class="btn bb-btn-secondary bb-grid-toolbar-btn bb-filter-btn" 
            ng-class="{'bb-filters-inline-active': options.filtersAreActive}" 
            data-bbauto-field="FilterButton" 
            ng-if="!options.hideFilters &amp;&amp; !bbGridFilterOnClick" 
            ng-click="toolbarLocals.toggleFilterMenu()">
            
            <span class="fa fa-lg fa-filter"></span>
        
        </button>
        
        <bb-filter-button 
            class="bb-filter-btn"
            ng-if="!options.hideFilters &amp;&amp; bbGridFilterOnClick"
            bb-filter-button-on-click="bbGridFilterOnClick()"
            bb-filter-button-active="options.filtersAreActive"
            >
        </bb-filter-button>
    </div>
    <div class="bb-grid-filter-summary-container">
        <div ng-transclude="bbGridToolbarFilterSummary">
        </div>
    </div>
    <div class="bb-grid-filter-inline-container" ng-hide="options.hasInlineFilters && !toolbarLocals.filtersVisible">
    </div>
    <div class="bb-grid-top-scrollbar">
        <div></div>
    </div>
</div>
