<div class="bb-avatar" ng-switch="bbAvatar.canChange">
  <div ng-switch-when="true">
    <div
       bb-file-drop
       bb-file-drop-change="bbAvatar.photoDrop(files, rejectedFiles)"
       bb-file-drop-accept="'image/*'"
       >
      <ng-include src="'sky/templates/avatar/avatarinner.include.html'" onload="bbAvatar.onTemplateLoad()"></ng-include>
    </div>
  </div>
  <div ng-switch-default>
    <ng-include src="'sky/templates/avatar/avatarinner.include.html'" onload="bbAvatar.onTemplateLoad()"></ng-include>
  </div>
</div>
