<bb-modal>
    <div class="modal-form">
        <bb-modal-header>Save changes?</bb-modal-header>
        <div bb-modal-body>
            <form>
                {{ ctrl.body }}

            </form>
        </div>
        <bb-modal-footer>
            <bb-modal-footer-button-primary ng-click="ctrl.$uibModalInstance.close(true)">Save</bb-modal-footer-button-primary>
            <bb-modal-footer-button ng-click="ctrl.$uibModalInstance.close(false)">Don't save</bb-modal-footer-button>
            <bb-modal-footer-button-cancel></bb-modal-footer-button-cancel>
        </bb-modal-footer>
    </div>
</bb-modal>