<div class="bb-listbuilder-toolbar-summary-container">
    <div class="bb-listbuilder-toolbar" bb-search-container>
        <div class="bb-listbuilder-toolbar-item bb-listbuilder-add-container" ng-transclude="bbListbuilderAdd">
        </div>
        <div class="bb-listbuilder-toolbar-item">
            <bb-search-input
                bb-search-text="$ctrl.bbListbuilderSearchText"
                bb-on-search="$ctrl.applySearchText(searchText)"
                >
            </bb-search-input>
        </div>
        
        <div class="bb-listbuilder-toolbar-item" ng-transclude="bbListbuilderFilter">

        </div>

        <div class="bb-listbuilder-toolbar-item" ng-transclude="bbListbuilderSort">

        </div>

        <ng-transclude></ng-transclude>
        
        <div class="bb-listbuilder-toolbar-switcher-container">
            <bb-listbuilder-switcher 
                bb-listbuilder-switcher-views="$ctrl.listbuilderCtrl.contentViews" 
                bb-listbuilder-switcher-current-view="$ctrl.listbuilderCtrl.currentView"
                bb-listbuilder-switcher-view-change="$ctrl.viewChanged(newView)"
                >
            </bb-listbuilder-switcher>
        </div>    
    </div>

    <div class="bb-listbuilder-filter-summary-container">
        <div ng-transclude="bbListbuilderFilterSummary">
        </div>
    </div>
    
</div>