<bb-modal>
  <div class="modal-form">
    <bb-modal-header>Choose stuff</bb-modal-header>
    <div bb-modal-body>
      <bb-checklist
        bb-checklist-items="checklistCtrl.listItems"
        bb-checklist-selected-items="checklistCtrl.selectedListItems"
        bb-checklist-include-search="checklistCtrl.includeSearch"
        bb-checklist-search-placeholder="Search for columns"
        bb-checklist-no-items-message="No columns found"
        bb-checklist-categories="['Constituent', 'Giving', 'Miscellaneous']"
        bb-checklist-mode="list"
        bb-checklist-filter-local>
      </bb-checklist>
    </div>
    <bb-modal-footer>
      <bb-modal-footer-button-primary></bb-modal-footer-button-primary>
      <bb-modal-footer-button-cancel></bb-modal-footer-button-cancel>
    </bb-modal-footer>
  </div>
</bb-modal>
