<button type="button" class="btn btn-default bb-select-field-single" ng-click="bbSelectField.selectFieldClick()">
  <div class="bb-select-field-single-inner">
    <div class="bb-select-field-single-title">{{bbSelectField.bbSelectFieldSelectedItems[0].title}}<span class="bb-select-field-single-title-placeholder" ng-if="!bbSelectField.bbSelectFieldSelectedItems[0].title">{{bbSelectField.bbSelectFieldText}}</span></div>
    <div class="bb-select-field-single-icon">
        <i 
            ng-class="{'fa-sort': bbSelectField.bbSelectFieldIcon !== 'search', 
                'fa-search': bbSelectField.bbSelectFieldIcon === 'search'}"     
            class="fa">
        </i>
    </div>
  </div>
</button>
