<div class="alert" ng-class="['alert-' + ($ctrl.bbAlertType || 'warning'), $ctrl.bbAlertCloseable === 'true' ? 'alert-dismissible' : null]" ng-show="!$ctrl.bbAlertClosed" role="alert">
    <div class="alert-content" ng-transclude></div>
    <button ng-show="$ctrl.bbAlertCloseable === 'true'" type="button" class="close" ng-click="$ctrl.close({$event: $event})">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">{{'alert_close' | bbResources}}</span>
    </button>
</div>
