<div class="bb-carousel-wrapper">
  <button 
      type="button" 
      class="bb-carousel-btn bb-carousel-btn-previous"
      ng-click="$ctrl.previousCard()" 
      ng-show="$ctrl.allowPrevious"
  >
    <i class="fa fa-chevron-left"></i>
  </button>
  <ul 
      class="bb-carousel" 
      ng-swipe-left="$ctrl.nextCard();"
      ng-swipe-right="$ctrl.previousCard()"
      ng-swipe-disable-mouse
  >
    <ng-transclude></ng-transclude>
  </ul>
  <button 
      type="button" 
      class="bb-carousel-btn bb-carousel-btn-next"
      ng-click="$ctrl.nextCard()" 
      ng-show="$ctrl.allowNext"
  >
    <i class="fa fa-chevron-right"></i>
  </button>
  <div class="bb-carousel-dots">
    <button
        type="button"
        class="bb-carousel-dot-btn"
        ng-class="{
            'bb-carousel-dot-btn-selected': $ctrl.dotIsSelected(dot)
        }"
        ng-repeat="dot in $ctrl.dots"
        ng-click="$ctrl.setSelectedItem(dot)"
    >
      <div class="bb-carousel-dot-content"></div>
    </button>
  </div>
</div>