<div 
    class="bb-carousel-wrapper"
    ng-class="{
      'bb-carousel-card': !$ctrl.bbCarouselStyle || $ctrl.bbCarouselStyle === 'card-large',
      'bb-carousel-card-small': $ctrl.bbCarouselStyle === 'card-small'
    }"
>
  <div class="bb-carousel-contents">
    <button 
        type="button" 
        class="bb-carousel-btn bb-carousel-btn-previous"
        ng-click="$ctrl.previousCard()" 
        ng-show="$ctrl.allowPrevious"
        aria-label="{{::'carousel_button_label_previous' | bbResources}}"
    >
        <i class="fa fa-chevron-left"></i>
    </button>
    <ul 
        class="bb-carousel" 
        ng-swipe-left="$ctrl.nextCard()"
        ng-swipe-right="$ctrl.previousCard()"
        ng-swipe-disable-mouse
    >
        <ng-transclude></ng-transclude>
    </ul>
    <button 
        type="button" 
        class="bb-carousel-btn bb-carousel-btn-next"
        ng-click="$ctrl.nextCard()" 
        ng-show="$ctrl.allowNext"
        aria-label="{{::'carousel_button_label_next' | bbResources}}"
    >
        <i class="fa fa-chevron-right"></i>
    </button>
  </div>
  <div class="bb-carousel-dots">
    <button
        type="button"
        class="bb-carousel-dot-btn"
        ng-class="{
            'bb-carousel-dot-btn-selected': $ctrl.dotIsSelected(dot)
        }"
        ng-repeat="dot in $ctrl.dots"
        ng-click="$ctrl.setSelectedItem(dot)"
        aria-label="{{::$ctrl.getDotLabel(dot)}}"
    >
      <div class="bb-carousel-dot-content"></div>
    </button>
  </div>
</div>