<div class="form-inline" ng-form="bbDateRangePickerCtrl.dateRangeForm">
    <div class="form-group bb-date-range-picker-form-group">
      <label ng-if="bbDateRangePickerCtrl.pickerLabel && !bbDateRangePickerCtrl.noLabels">{{bbDateRangePickerCtrl.pickerLabel}}</label>
      <select data-bbauto-field="{{bbDateRangePickerCtrl.bbDateRangePickerAutomationId}}_DateRangeType"
        class="form-control"
        ng-options="bbDateRangePickerCtrl.bbDateRangePicker.getDateRangeTypeCaption(t) for t in (bbDateRangePickerCtrl.bbDateRangePickerOptions.availableDateRangeTypes || bbDateRangePickerCtrl.bbDateRangePicker.defaultDateRangeOptions)"
        ng-model="bbDateRangePickerCtrl.bbDateRangePickerValue.dateRangeType" />
    </div>
    <div class="form-group bb-date-range-picker-form-group" ng-if="bbDateRangePickerCtrl.specificRangeIsVisible">
      <label ng-if="!bbDateRangePickerCtrl.noLabels">{{::bbDateRangePickerCtrl.resources.date_range_picker_from_date}}</label>
      <bb-datepicker ng-model="bbDateRangePickerCtrl.fromDate" max-date="bbDateRangePickerCtrl.toDate" bb-datepicker-name="fromDate" datepicker-append-to-body="true" placeholder="bbDateRangePickerCtrl.fromPlaceholder"></bb-datepicker>
      <label ng-show="bbDateRangePickerCtrl.dateRangeForm.fromDate.$error.dateFormat" class="error">{{::bbDateRangePickerCtrl.resources.date_field_invalid_date_message}}</label>
      <label ng-show="bbDateRangePickerCtrl.dateRangeForm.fromDate.$error.maxDate" class="error">{{::bbDateRangePickerCtrl.resources.date_range_picker_max_date_error}}</label>
    </div>
    <div class="form-group bb-date-range-picker-form-group" ng-if="bbDateRangePickerCtrl.specificRangeIsVisible">
      <label ng-if="!bbDateRangePickerCtrl.noLabels">{{::bbDateRangePickerCtrl.resources.date_range_picker_to_date}}</label>
      <bb-datepicker ng-model="bbDateRangePickerCtrl.toDate" min-date="bbDateRangePickerCtrl.fromDate" bb-datepicker-name="toDate" datepicker-append-to-body="true" placeholder="bbDateRangePickerCtrl.toPlaceholder"></bb-datepicker>
      <label ng-show="bbDateRangePickerCtrl.dateRangeForm.toDate.$error.dateFormat" class="error">{{::bbDateRangePickerCtrl.resources.date_field_invalid_date_message}}</label>
      <label ng-show="bbDateRangePickerCtrl.dateRangeForm.toDate.$error.minDate" class="error">{{::bbDateRangePickerCtrl.resources.date_range_picker_max_date_error}}</label>
    </div>
</div>
