<div class="form-group bb-phone-number-form-group"
     data-bbauto-field="PhoneNumberWrapper"
     ng-class="{'has-error': !valid}">
  <label class="sr-only"
        data-bbauto-field="PhoneNumberLabelSr">
         {{labelSr}}
  </label>
  <label class="bb-phone-number-label"
         data-bbauto-field="PhoneNumberLabel"
         for="bb-phone-number-input"
         ng-if="label">
         {{label}}
  </label>
  <input class="form-control"
         data-bbauto-field="PhoneNumberInput"
         id="bb-phone-number-input"
         ng-model="phoneNumber"
         type="tel" />
</div>
