<div class="bb-file-item">
    <div class="row bb-file-item-title">
        <div class="col-xs-10">
            <div class="bb-file-item-name">
                <strong>{{item.name || item.url}}</strong>
            </div>
            <div class="bb-file-item-size" ng-if="bbFileItem.isFile()">
                ({{item.size | bbFileSize}})
            </div>
        </div>
        <div class="col-xs-2">
            <div class="pull-right">
                <button type="button" class="btn bb-btn-secondary bb-file-item-btn-delete" ng-click="itemDelete()">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-switch="bbFileItem.isImg()" class="col-xs-3">
            <div ng-switch-when="true" class="center-block">
              <img ng-if="item.url" class="bb-file-item-preview-img" ng-src="{{item.url}}" />
              <img ng-if="!item.url" class="bb-file-item-preview-img" ngf-src="item" />
            </div>
            <div ng-switch-when="false" class="bb-file-item-preview-other">
                <i class="fa" ng-class="bbFileItem.otherCls"></i>
            </div>
        </div>
        <div class="col-xs-9" ng-transclude>
        </div>
    </div>
</div>
