<div class="bb-reorder-table">
    <div class="bb-reorder-table-container">
        <div class="bb-reorder-table-header-container table-responsive">
            <div class="bb-reorder-table-header">
                <div class="bb-reorder-table-labels">
                    <div ng-if="$ctrl.sortable" class="bb-reorder-table-label-cell bb-reorder-table-label-icon"></div>
                    <div ng-if="$ctrl.contextMenuItems" class="bb-reorder-table-label-cell bb-reorder-table-label-context"></div>
                    <div ng-if="column.show" ng-repeat="column in $ctrl.options.columns" class="bb-reorder-table-label-cell" ng-style="{ 'width': column.width }">
                        <div ng-if="column.title || column.title === ''">
                            {{column.title}}
                        </div>
                        <div ng-if="!column.title && column.title !== ''">
                            {{column.name}}
                        </div>
                    </div>
                    <div ng-if="$ctrl.sortable" class="bb-reorder-table-label-cell bb-reorder-table-label-top"></div>
                </div>
            </div>
        </div>
        <div class="bb-reorder-table-body-container">
            <div ng-repeat="item in $ctrl.options.data" ng-class="$ctrl.setFixed($index, $ctrl.options.fixed)" ng-init="rowIndex=$index">
                <div class="bb-reorder-table-row-container">
                    <div ng-if="$ctrl.sortable" class="bb-reorder-table-col-icon">
                        <i class="fa fa-arrows"></i>
                    </div>
                    <div ng-if="$ctrl.contextMenuItems" class="bb-reorder-table-col-context">
                        <div class="bb-reorder-table-cell">
                            <bb-context-menu ng-if="$ctrl.contextMenuItems[item[$ctrl.options.index]].length > 0" bb-context-menu-label="Reorder Table Context" bb-context-menu-append-to-body="true">
                                <bb-context-menu-item ng-repeat="action in $ctrl.contextMenuItems[item[$ctrl.options.index]]" bb-context-menu-action="action.cmd()">{{action.title}}</bb-context-menu-item>
                            </bb-context-menu>
                        </div>
                    </div>
                    <div ng-if="column.show" ng-repeat="column in $ctrl.options.columns" class="bb-reorder-table-col" ng-style="{ 'width': column.width }"
                        id="{{'bb-reorder-table-' + $ctrl.tableId + '-cell-' + rowIndex + '-' + column.name}}">
                        <div ng-if="!column.template_url" class="bb-reorder-table-cell">{{item[column.jsonmap]}}</div>
                        <div ng-if="column.template_url" class="bb-reorder-table-cell" ng-init="$ctrl.cellLink(item, rowIndex, column)"></div>
                    </div>
                    <div ng-if="$ctrl.sortable" class="bb-reorder-table-col-top">
                        <div class="bb-reorder-table-cell">
                            <button type="button" ng-if="!$ctrl.sorting && $ctrl.options.fixed < $index" ng-click="$ctrl.pushToTop(item)" class="btn btn-link"> 
                              <i class="fa fa-arrow-circle-up"></i>
                              <span>{{'reorder_table_top' | bbResources}}</span>
                           </button>
                        </div>
                        <div ng-if="$ctrl.sorting && !$ctrl.isFixed($index)" class="bb-reorder-table-cell">
                            <span class="bb-reorder-table-sorting-number"></span>
                        </div>
                        <div ng-if="$ctrl.isFixed($index)" class="bb-reorder-table-cell bb-reorder-table-lock">
                            <span class="fa fa-lock"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>