<div class="modal-header">
    <h1 class="bb-dialog-header" ng-transclude></h1>
    <div bb-help-button bb-help-key="{{bbModalHelpKey}}" bb-set-help-key-override="true" data-bbauto-field="ModalHelpButton" ng-if="bbModalHelpKey"></div>
    <div 
        role="button" 
        aria-label="{{'modal_close' | bbResources}}"
        tabindex="0" 
        class="fa fa-times close" 
        ng-click="dismiss('close');"
        ng-keyup="$event.which === 13 &amp;&amp; dismiss('close');">
    </div>
    
</div>
