<div class="bb-submenu">
    <uib-accordion>
        <uib-accordion-group is-open="accordionLocals.accordionOpen">

            <uib-accordion-heading ng-if="accordionLocals.staticHeader">
                <div ng-click="toggleAccordion($event)">
                    <span>
                        {{heading}}
                    <span>
                    <i ng-class="'fa-chevron-' + (accordionLocals.accordionOpen ? 'up' : 'down')" class="fa bb-submenu-chevron"></i>
                </div>
            </uib-accordion-heading>
            <ng-transclude></ng-transclude>
        </uib-accordion-group>
    </uib-accordion>
</div>
