<div class="bb-submenu">
    <uib-accordion>
        <uib-accordion-group template-url="sky/templates/contextmenu/submenu.accordiongroup.html" is-open="bbSubmenu.accordionOpen">
            <uib-accordion-heading ng-if="bbSubmenu.staticHeader">
                <div role="button" ng-click="bbSubmenu.toggleAccordion($event)">
                    <span>
                        {{bbSubmenu.heading}}
                    <span>
                    <i ng-class="'fa-chevron-' + (bbSubmenu.accordionOpen ? 'up' : 'down')" class="fa bb-submenu-chevron"></i>
                </div>
            </uib-accordion-heading>
            <ng-transclude></ng-transclude>
        </uib-accordion-group>
    </uib-accordion>
</div>
