<div class="bb-page-header">
  <div class="container-fluid">
    <div class="bb-page-summary-alert"></div>
    <div class="row">
      <div class="bb-page-summary-left col-xs-12" ng-class="bbPageSummary.getPageSummaryLeftCls()">
        <div class="bb-page-summary-image" ng-show="bbPageSummary.imageCtrl"></div>
        <div>
          <h1 class="bb-page-summary-title" ng-show="bbPageSummary.titleCtrl"></h1>
          <div class="bb-page-summary-subtitle" ng-show="bbPageSummary.subtitleCtrl"></div>
          <div class="bb-page-summary-status" ng-show="bbPageSummary.statusCtrl"></div>
          <div class="bb-page-summary-key-info-xs"></div>
          <div class="bb-page-summary-content"></div>
        </div>
      </div>
      <div class="bb-page-summary-key-info-sm col-sm-3 hidden-xs" ng-class="bbPageSummary.getKeyInfoCls()">
        <div class="bb-page-summary-key-info"></div>
      </div>
    </div>
  </div>
  <ng-transclude></ng-transclude>
</div>
<div class="bb-page-summary-action-bar"></div>
