<div class="bb-chart-container">
    <div ng-style="moveBackStyle()" ng-show="moveBackVisible">
        <a ng-href="#" ng-click="moveBack()" ng-disabled="moveBackDisabled()">
            <i class="glyphicon glyphicon-play icon-flipped"></i>
        </a>
    </div>
    <div ng-style="moveForwardStyle()" ng-show="moveForwardVisible">
        <a ng-href="#" ng-click="moveForward()" ng-disabled="moveForwardDisabled()">
            <i class="glyphicon glyphicon-play"></i>
        </a>
    </div>
    <div class="bb-chart"></div>
</div>