<div>
  <div>
    <div ng-if="bbChecklist.bbChecklistIncludeSearch" class="bb-checklist-filter-bar">
      <div class="bb-checklist-search" ng-class="{'bb-search-disabled': bbChecklist.onlyShowSelected}">
        <input
          type="text"
          class="bb-checklist-search-box"
          maxlength="255"
          placeholder="{{bbChecklist.bbChecklistSearchPlaceholder}}"
          ng-model="bbChecklist.searchText"
          ng-model-options="{debounce: bbChecklist.bbChecklistSearchDebounce}"
          ng-disabled="bbChecklist.onlyShowSelected"
          data-bbauto-field="ChecklistSearch"
          ng-attr-autofocus="{{bbChecklist.focusSearch}}" />
        <div class="bb-checklist-search-icon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
    <div ng-if="bbChecklist.bbChecklistCategories &amp;&amp; bbChecklist.bbChecklistCategories.length > 0" class="bb-checklist-filter-bar bb-checklist-category-bar bb-filters-inline form-inline">
      <div class="form-group">
        <select class="form-control" ng-model="bbChecklist.selectedOption" ng-disabled="bbChecklist.onlyShowSelected">
          <option value="{{bbChecklist.allCategories}}">{{'grid_column_picker_all_categories' | bbResources}}</option>
          <option ng-repeat="category in bbChecklist.bbChecklistCategories">{{category}}</option>
        </select>
      </div>
      <div class="form-group">

        <label class="control-label" ng-if="bbChecklist.bbChecklistSubsetLabel">
          <input class="bb-checklist-subset-input" bb-check type="checkbox" ng-model="bbChecklist.subsetSelected" ng-disabled="bbChecklist.onlyShowSelected"/>
          {{bbChecklist.bbChecklistSubsetLabel}}
        </label>
      </div>
    </div>
    <div class="bb-checklist-filter-bar bb-checklist-select-all-bar" ng-show="!bbChecklist.isSingleSelect()">
      <button type="button" class="btn btn-link" data-bbauto-field="ChecklistSelectAll" ng-click="bbChecklist.selectAll()">{{'checklist_select_all' | bbResources}}</button>
      <button type="button" class="btn btn-link bb-checklist-clear" data-bbauto-field="ChecklistClear" ng-click="bbChecklist.clear()">{{'checklist_clear_all' | bbResources}}</button>
      <label class="control-label" ng-if="bbChecklist.onlySelectedAvailable">
        <input bb-check type="checkbox" ng-model="bbChecklist.onlyShowSelected" />
        {{'checklist_only_selected_items' | bbResources}}
      </label>
    </div>
  </div>
  <div class="bb-checklist-wrapper" bb-wait="bbChecklist.bbChecklistIsLoading" ng-switch="bbChecklist.bbChecklistMode" ng-class="bbChecklist.getChecklistCls()">
    <div ng-switch-when="list" data-bbauto-repeater="ChecklistItems" data-bbauto-repeater-count="{{bbChecklist.filteredItems.length}}">
      <div ng-switch="bbChecklist.isSingleSelect()">
        <div ng-switch-when="true">
          <button ng-repeat="item in bbChecklist.filteredItems" type="button" class="bb-checklist-list-row" ng-class="bbChecklist.getRowCls(item)" data-bbauto-field="{{item.name}}" ng-click="bbChecklist.singleSelectRowClick(item)">
            <ng-include class="bb-checklist-list-col" src="'sky/templates/checklist/checklistlistrow.include.html'"></ng-include>
          </button>
        </div>
        <div ng-switch-default>
          <label ng-repeat="item in bbChecklist.filteredItems" class="bb-checklist-list-row" ng-class="bbChecklist.getRowCls(item)" data-bbauto-field="{{item.name}}">
            <div class="bb-checklist-list-col bb-checklist-list-col-checkbox">
              <input bb-check type="checkbox" checklist-model="bbChecklist.bbChecklistSelectedItems" checklist-value="item" checklist-select-style="bbChecklist.bbChecklistSelectStyle" />
            </div>
            <ng-include class="bb-checklist-list-col" src="'sky/templates/checklist/checklistlistrow.include.html'"></ng-include>
          </label>
        </div>
      </div>
    </div>
    <table class="table bb-checklist-table" ng-switch-default>
      <thead>
        <tr>
          <th class="bb-checklist-checkbox-column"></th>
          <th ng-repeat="column in bbChecklist.columns" class="{{column.class}}" ng-style="{'width': column.width}">{{column.caption}}</th>
        </tr>
      </thead>
      <tbody bb-highlight="bbChecklist.searchText" bb-highlight-beacon="bbChecklist.highlightRefresh" data-bbauto-repeater="ChecklistItems" data-bbauto-repeater-count="{{bbChecklist.filteredItems.length}}">
        <tr ng-repeat="item in bbChecklist.filteredItems" ng-click="bbChecklist.rowClicked(item);" class="bb-checklist-row">
          <td>
            <input ng-click="bbChecklist.inputClicked($event)" bb-check type="checkbox" checklist-model="bbChecklist.bbChecklistSelectedItems" checklist-value="item" data-bbauto-field="{{item[bbChecklist.bbChecklistAutomationField]}}" />
          </td>
          <td ng-repeat="column in bbChecklist.columns" class="{{column.class}}" data-bbauto-field="{{column.automationId}}" data-bbauto-index="{{$parent.$index}}">{{item[column.field]}}</td>
        </tr>
      </tbody>
    </table>
    <div class="bb-checklist-no-items" ng-if="!bbChecklist.filteredItems.length">{{bbChecklist.bbChecklistNoItemsMessage || ('checklist_no_items' | bbResources)}}</div>
  </div>
  <div ng-transclude></div>
</div>
