<div>
    <div>
        <div ng-if="bbChecklistIncludeSearch" class="bb-checklist-filter-bar">
            <div class="bb-checklist-search">
                <input type="text" class="bb-checklist-search-box" maxlength="255" placeholder="{{bbChecklistSearchPlaceholder}}" ng-model="locals.searchText" ng-model-options="{debounce: bbChecklistSearchDebounce}" data-bbauto-field="ChecklistSearch">
                <div class="bb-checklist-search-icon">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
        <div ng-if="bbChecklistCategories && bbChecklistCategories.length > 0" class="bb-checklist-filter-bar bb-checklist-category-bar">
            <button type="button" class="btn btn-sm" ng-click="locals.filterByCategory()" ng-class="locals.selectedCategory ? 'btn-default' : 'btn-primary'">{{'grid_column_picker_all_categories' | bbResources}}</button>
            <button ng-repeat="category in bbChecklistCategories" type="button" class="btn btn-sm" ng-click="locals.filterByCategory(category)" ng-class="locals.selectedCategory === category ? 'btn-primary' : 'btn-default'">{{category}}</button>
        </div>
        <div class="bb-checklist-filter-bar bb-checklist-select-all-bar">
            <button type="button" class="btn btn-link" data-bbauto-field="ChecklistSelectAll" ng-click="locals.selectAll()">{{'checklist_select_all' | bbResources}}</button>
            <button type="button" class="btn btn-link" data-bbauto-field="ChecklistClear" ng-click="locals.clear()">{{'checklist_clear_all' | bbResources}}</button>
        </div>
    </div>
    <div class="bb-checklist-wrapper" ng-switch="bbChecklistMode">
        <div ng-switch-when="list" data-bbauto-repeater="ChecklistItems" data-bbauto-repeater-count="{{locals.filteredItems.length}}">
            <label class="bb-checklist-list-row" ng-repeat="item in locals.filteredItems" data-bbauto-field="{{item.name}}">
                <div class="bb-checklist-list-col bb-checklist-list-col-checkbox">
                    <input
                           bb-check
                           type="checkbox"
                           checklist-model="bbChecklistSelectedItems"
                           checklist-value="item"
                           />
                </div>
                <div class="bb-checklist-list-col">
                    <div class="bb-checklist-list-title" bb-highlight="locals.searchText">{{item.title}}</div>
                    <div class="bb-checklist-list-description" bb-highlight="locals.searchText">{{item.description}}</div>
                </div>
            </label>
        </div>
        <table class="table bb-checklist-table" ng-switch-default>
            <thead>
                <tr>
                    <th class="bb-checklist-checkbox-column"></th>
                    <th ng-repeat="column in locals.columns" class="{{column.class}}" ng-style="{'width': column.width}">{{column.caption}}</th>
                </tr>
            </thead>
            <tbody bb-highlight="locals.searchText" bb-highlight-beacon="locals.highlightRefresh" data-bbauto-repeater="ChecklistItems" data-bbauto-repeater-count="{{locals.filteredItems.length}}">
                <tr ng-repeat="item in locals.filteredItems" ng-click="locals.rowClicked(item);" class="bb-checklist-row">
                    <td>
                        <input bb-check type="checkbox" checklist-model="bbChecklistSelectedItems" checklist-value="item" data-bbauto-field="{{item[bbChecklistAutomationField]}}" />
                    </td>
                    <td ng-repeat="column in locals.columns" class="{{column.class}}" data-bbauto-field="{{column.automationId}}" data-bbauto-index="{{$parent.$index}}">{{item[column.field]}}</td>
                </tr>
            </tbody>
        </table>
        <div class="bb-checklist-no-items" ng-if="!locals.filteredItems.length">{{bbChecklistNoItemsMessage || ('checklist_no_items' | bbResources)}}</div>
    </div>
    <div ng-transclude></div>
</div>
