<div class="bb-listbuilder-toolbar">
    <div class="input-group bb-listbuilder-search-container">
        <input 
            type="text" 
            class="form-control bb-listbuilder-search-input"
            ng-model="$ctrl.bbListbuilderSearchText" 
            ng-keyup="$event.keyCode == 13 && $ctrl.applySearchText($ctrl.bbListbuilderSearchText)" 
            data-bbauto-field="SearchBox"
            aria-label="{{listbuilder_search_input_label | bbResources}}" />
        <span class="input-group-btn bb-listbuilder-search-button">
            <button 
                type="button"
                class="btn"
                ng-click="$ctrl.applySearchText($ctrl.bbListbuilderSearchText)"
                aria-label="{{listbuilder_search_button_label | bbResources}}" >
                <i class="fa fa-search"></i>
            </button>
        </span>
        
    </div>
    
</div>