<div 
    class="bb-listbuilder-switcher" 
    uib-dropdown 
    dropdown-append-to-body 
    ng-if="$ctrl.bbListbuilderSwitcherViews.length > 1">
    <button 
        class="btn bb-btn-secondary" 
        type="button"
        ng-attr-aria-controls="{{$ctrl.switcherId}}" 
        uib-dropdown-toggle
        ng-attr-title="{{$ctrl.bbListbuilderSwitcherCurrentView.viewSwitcherLabel}}">
        <i 
          class="fa fa-lg" 
          ng-class="$ctrl.bbListbuilderSwitcherCurrentView.viewSwitcherClass"
          ></i>
    </button>
    <ul 
        ng-attr-id="{{$ctrl.switcherId}}"
        class="dropdown-menu bb-listbuilder-switcher-menu" 
        uib-dropdown-menu 
        role="menu">
        <li role="presentation" ng-repeat="view in $ctrl.bbListbuilderSwitcherViews" ng-if="view.viewName !== $ctrl.bbListbuilderSwitcherCurrentView.viewName">
            <a 
                role="menuitem"
                href="javascript:void(0)" 
                ng-click="$ctrl.switchView(view)"
                ng-attr-title="{{view.viewSwitcherLabel}}">
                <i 
                    class="fa fa-lg" 
                    ng-class="view.viewSwitcherClass"
                    ></i>
            </a>
        </li>
    </ul>
</div>