<uib-tabset active="activeSection" class="bb-sectionedform" vertical="true">
    <uib-tab ng-repeat="section in sections">
        <uib-tab-heading>
            <span class="control-label" ng-class="{'required': sectionHasRequiredField(section) && !sectionIsInvalid(section), 'invalid': sectionIsInvalid(section)}">{{buildSectionHeading(section)}}</span>
            <span class="fa fa-chevron-right bb-sectionedform-navigationicon" ng-show="isMobile"></span>
        </uib-tab-heading>
        <div class="row bb-sectionedform-contentnavigationcontainer" ng-show="isMobile" ng-click="displayOnlyFormSections()">
            <div class="col-xs-12">
                <span class="fa fa-chevron-left bb-sectionedform-navigationicon"></span>
                <span>{{section.heading}}</span>
            </div>
        </div>
        <ng-include src="section.templateUrl"></ng-include>
    </uib-tab>
</uib-tabset>