<div class="uib-datepicker" role="application" ng-keydown="keydown($event)">
  
  <bb-datepicker-hide  bb-datepicker-hide-mode="datepickerMode" bb-datepicker-hide-mode-match="day">
    <uib-daypicker ng-if="datepickerMode === 'day'" tabindex="0"></uib-daypicker>
  </bb-datepicker-hide>

  <bb-datepicker-hide  bb-datepicker-hide-mode="datepickerMode" bb-datepicker-hide-mode-match="month">
    <uib-monthpicker ng-if="datepickerMode === 'month'" tabindex="0"></uib-monthpicker>
  </bb-datepicker-hide>

  <bb-datepicker-hide bb-datepicker-hide-mode="datepickerMode" bb-datepicker-hide-mode-match="year">
    <uib-yearpicker ng-if="datepickerMode === 'year'" tabindex="0"></uib-yearpicker>
  </bb-datepicker-hide>
  
</div>