<div class="bb-action-bar-group">
    <div class="bb-action-bar-buttons hidden-xs">
        <ng-transclude />
    </div>
    <div class="bb-action-bar-dropdown hidden-sm hidden-md hidden-lg">
        <div uib-dropdown>
             <button ng-attr-id="{{bbActionBarItemGroup.toggleId}}" class="btn bb-btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" >
            {{bbActionBarItemGroup.title}}<span class="caret"/>
            </button>

            <ul uib-dropdown-menu ng-attr-aria-labelledby="{{bbActionBarItemGroup.toggleId}}">

            </ul>
        </div>
    </div>
</span>
