<div class="bb-profile-photo" ng-switch="bbProfilePhoto.canChange">
  <div ng-switch-when="true">
    <div
       bb-file-drop
       bb-file-drop-change="bbProfilePhoto.photoDrop(files, rejectedFiles)"
       bb-file-drop-accept="'image/*'"
       >
      <ng-include src="'sky/templates/profilephoto/profilephotoinner.include.html'" onload="bbProfilePhoto.onTemplateLoad()"></ng-include>
    </div>
  </div>
  <div ng-switch-default>
    <ng-include src="'sky/templates/profilephoto/profilephotoinner.include.html'" onload="bbProfilePhoto.onTemplateLoad()"></ng-include>
  </div>
</div>
